@using Notes.Application.Notes.Queries.GetNoteDetails;
@model NoteDetailsVm;


<div class="col-sm-3">
        <div class="card text-center w-100" id="NoteCard">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Details</p>
                @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
                @Html.ActionLink("Edit", "UpdateNote", new { id=Model.Id }, new { @class = "btn btn-primary" })
                
                @Html.ActionLink("Details", "GetNoteDetails", new { id=Model.Id }, new { @class = "btn btn-primary", @id= "GetDetails" }) 
                @Html.ActionLink("Delete", "DeleteNote", new { id=Model.Id }, new { @class = "btn btn-danger" })
            </div>
            <div class="card-footer text-muted">
               CreationDate: @Model.CreationDate
            </div>
             <div class="card-footer text-muted">
               UpdateDate: @Model.EditDate
            </div>
        </div>
</div>